#!/usr/bin/env python2
PACKAGE = "bluefox2"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("fps", double_t, 0, "frames per second", 20, 1, 200)
gen.add("color", bool_t, 0, "image encoding", False)
gen.add("binning", bool_t, 0, "horizontal and vertical binning", False)
gen.add("gain_db", double_t, 0, "gain in dB", 0.0, -1.0, 10.0)
gen.add("expose_us", int_t, 0, "expose us", 2000, 12, 100000)
gen.add("hdr", bool_t, 0, "High Dynamic Range", False)

trigger_enum = gen.enum([gen.const("continuous", int_t, 0, "continuous"),
                         gen.const("on_demand", int_t, 1, "on demand")],
                        "An enum to set trigger mode")
gen.add("trigger", int_t, 0, "trigger mode", 0, 0, 1, edit_method=trigger_enum)

exit(gen.generate(PACKAGE, "bluefox2", "Bluefox2Dyn"))
