SUBSYSTEM!="usb|usb_device|plugdev", GOTO="mvbf_rules_end"
ACTION!="add", GOTO="mvbf_rules_end"

ATTRS{idVendor}=="164c", ATTRS{idProduct}=="0103", MODE="0664", GROUP="plugdev"
ATTRS{idVendor}=="164c", ATTRS{idProduct}=="0101", MODE="0664", GROUP="plugdev"

LABEL="mvbf_rules_end"
