<launch>
    <arg name="serial" default="25000495"/>
    <arg name="calib_file" default="calib_$(arg serial)"/>
    <arg name="calib_url" default="package://bluefox2/calib/$(arg calib_file).yml"/>
    <arg name="fps" default="20"/>
    <arg name="color" default="false"/>
    <arg name="expose" default="0"/>
    <arg name="expose_us" default="5000"/>
    <arg name="binning" default="false"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="trigger" default="0"/>

    <node pkg="bluefox2" type="single_node" name="mv_$(arg serial)"
        respawn="true" output="screen">
        <param name="serial" type="string" value="$(arg serial)"/>
        <param name="fps" type="int" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="expose" type="int" value="$(arg expose)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="binning" type="bool" value="$(arg binning)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="trigger" type="int" value="$(arg trigger)"/>
        <param name="calib_url" type="string" value="$(arg calib_url)"/>
    </node>
</launch>
