<launch>
    <!-- Camera Settings -->
    <arg name="serial" default="25000495"/>
    <arg name="frame_id" default="mv_$(arg serial)"/>
    <arg name="camera" default="mv_$(arg serial)"/>
    <arg name="calib_url"
        default="package://bluefox2/calib/calib_$(arg serial).yml"/>
    <arg name="fps" default="20"/>
    <arg name="color" default="false"/>
    <arg name="binning" default="false"/>
    <arg name="trigger" default="1"/>
    <arg name="expose_us" default="5000"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="hdr" default="false"/>
    <arg name="boost" default="false"/>

    <!-- Node Settings -->
    <arg name="output" default="screen"/>
    <arg name="plugin" default="false"/>
    <arg name="proc" default="false"/>
    <arg name="view" default="false"/>

    <!-- Standalone -->
    <arg unless="$(arg plugin)" name="option"
        value="standalone bluefox2/SingleNodelet"/>

    <!-- Manager -->
    <arg if="$(arg plugin)" name="manager" default="single_nodelet"/>
    <arg if="$(arg plugin)" name="option"
        value="load bluefox2/SingleNodelet $(arg manager)"/>
    <node if="$(arg plugin)" pkg="nodelet" type="nodelet"
        name="$(arg manager)" args="manager" output="$(arg output)">
    </node>

    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera)"
        args="$(arg option)" output="$(arg output)">
        <param name="identifier" type="string" value="$(arg serial)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera" type="string" value="$(arg camera)"/>
        <param name="calib_url" type="string" value="$(arg calib_url)"/>
        <param name="fps" type="int" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="binning" type="bool" value="$(arg binning)"/>
        <param name="trigger" type="int" value="$(arg trigger)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
        <param name="boost" type="bool" value="$(arg boost)"/>
    </node>

    <!-- View -->
    <node if="$(arg view)" pkg="image_view" type="image_view"
        name="$(arg camera)_raw" output="$(arg output)"
        args="image:=/$(arg camera)/image_raw">
    </node>
</launch>
