<launch>
    <!-- Common Interface -->
    <arg name="device"/>
    <arg name="rate" default="20"/>

    <!-- Camera Settings -->
    <arg name="serial" default="$(arg device)"/>
    <arg name="camera_name" default="mv_$(arg serial)"/>
    <arg name="camera" default="$(arg camera_name)"/>
    <arg name="frame_id" default="$(arg camera)"/>
    <arg name="calib_url" default="file://${ROS_HOME}/camera_info/$(arg camera_name).yaml"/>
    <arg name="fps" default="$(arg rate)"/>
    <arg name="color" default="false"/>
    <arg name="aec" default="0"/>
    <arg name="cbm" default="false"/>
    <arg name="ctm" default="1"/>
    <arg name="dcfm" default="0"/>
    <arg name="hdr" default="false"/>
    <arg name="wbp" default="-1"/>
    <arg name="expose_us" default="5000"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="boost" default="false"/>
    <arg name="mm" default="0"/>

    <!-- Node Settings -->
    <arg name="plugin" default="false"/>
    <arg name="output" default="screen"/>
    <arg name="proc" default="false"/>
    <arg name="view" default="false"/>
    <arg name="calib" default="false"/>

    <!-- Standalone -->
    <arg unless="$(arg plugin)"
        name="option" value="standalone bluefox2/SingleNodelet"/>

    <!-- Manager -->
    <arg if="$(arg plugin)"
        name="manager" default="single_nodelet"/>
    <arg if="$(arg plugin)"
        name="option" value="load bluefox2/SingleNodelet $(arg manager)"/>
    <node if="$(arg plugin)"
        pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"
        output="$(arg output)">
    </node>

    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera)"
        args="$(arg option)" output="$(arg output)">
        <param name="identifier" type="string" value="$(arg serial)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera_name" type="string" value="$(arg camera_name)"/>
        <param name="calib_url" type="string" value="$(arg calib_url)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="aec" type="int" value="$(arg aec)"/>
        <param name="cbm" type="bool" value="$(arg cbm)"/>
        <param name="ctm" type="int" value="$(arg ctm)"/>
        <param name="dcfm" type="int" value="$(arg dcfm)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
        <param name="wbp" type="int" value="$(arg wbp)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="boost" type="bool" value="$(arg boost)"/>
        <param name="mm" type="int" value="$(arg mm)"/>
    </node>

    <!--Proc-->
    <arg if="$(arg plugin)"
        name="proc_option" value="load image_proc/rectify $(arg manager)"/>
    <arg unless="$(arg plugin)"
        name="proc_option" value="standalone image_proc/rectify"/>
    <node if="$(arg proc)"
        pkg="nodelet" type="nodelet" name="rectify_mono" ns="$(arg camera)"
        args="$(arg proc_option)">
        <remap from="image_mono" to="image_raw"/>
        <remap from="image_rect" to="image_rect_mono"/>
    </node>

    <!-- View -->
    <arg name="image" default="image_raw"/>
    <node if="$(arg view)"
        pkg="image_view" type="image_view" name="viewer"
        output="$(arg output)" ns="$(arg camera)" args="image:=$(arg image)">
    </node>
</launch>
