<launch>
    <!-- Settings -->
    <arg name="left" default="25000855"/>
    <arg name="right" default="25001185"/>
    <arg name="left_calib_url"
        default="package://bluefox2/calib/calib_$(arg left).yml"/>
    <arg name="right_calib_url"
        default="package://bluefox2/calib/calib_$(arg right).yml"/>
    <arg name="frame_id" default="mv_stereo"/>
    <arg name="camera" default="mv_stereo"/>
    <arg name="fps" default="20"/>
    <arg name="color" default="false"/>
    <arg name="binning" default="false"/>
    <arg name="trigger" default="1"/>
    <arg name="expose_us" default="5000"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="hdr" default="true"/>

    <arg name="plugin" default="false"/>
    <arg name="output" default="screen"/>

    <!-- Standalone -->
    <arg unless="$(arg plugin)" name="option"
        value="standalone bluefox2/StereoNodelet"/>

    <!-- Manager -->
    <arg if="$(arg plugin)" name="manager" default="stereo_nodelet"/>
    <arg if="$(arg plugin)" name="option"
        value="load bluefox2/StereoNodelet $(arg manager)"/>
    <node if="$(arg plugin)" pkg="nodelet" type="nodelet"
        name="$(arg manager)" args="manager" output="$(arg output)">
    </node>

    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera)"
        args="$(arg option)" output="$(arg output)">
        <param name="left/identifier" type="string" value="$(arg left)"/>
        <param name="left/calib_url" type="string"
            value="$(arg left_calib_url)"/>
        <param name="right/identifier" type="string" value="$(arg right)"/>
        <param name="right/calib_url" type="string"
            value="$(arg right_calib_url)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera" type="string" value="$(arg camera)"/>
        <param name="fps" type="int" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="binning" type="bool" value="$(arg binning)"/>
        <param name="trigger" type="int" value="$(arg trigger)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
    </node>
</launch>
