<launch>
    <arg name="stereo_node" default="mv_stereo"/>

    <node pkg="bluefox2" type="stereo_sync_node" name="stereo_sync"
        output="screen">
        <remap from="~left/image_raw"
            to="/$(arg stereo_node)/left/image_raw"/>
        <remap from="~right/image_raw"
            to="/$(arg stereo_node)/right/image_raw"/>
        <remap from="~left/camera_info"
            to="/$(arg stereo_node)/left/camera_info"/>
        <remap from="~right/camera_info"
            to="/$(arg stereo_node)/right/camera_info"/>
    </node>
</launch>
