<launch>
    <!-- Common Interface -->
    <arg name="rate" default="20"/>

    <!-- Camera Settings -->
    <arg name="left" default="25000855"/>
    <arg name="right" default="25001110"/>
    <arg name="left_camera_name" default="mv_$(arg left)"/>
    <arg name="right_camera_name" default="mv_$(arg right)"/>
    <arg name="left_calib_url" default="file://${ROS_HOME}/camera_info/$(arg left_camera_name).yaml"/>
    <arg name="right_calib_url" default="file://${ROS_HOME}/camera_info/$(arg right_camera_name).yaml"/>

    <arg name="camera" default="stereo"/>
    <arg name="frame_id" default="$(arg camera)"/>
    <arg name="fps" default="$(arg rate)"/>
    <arg name="color" default="false"/>
    <arg name="aec" default="0"/>
    <arg name="cbm" default="false"/>
    <arg name="ctm" default="1"/>
    <arg name="dcfm" default="0"/>
    <arg name="hdr" default="false"/>
    <arg name="wbp" default="-1"/>
    <arg name="expose_us" default="5000"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="boost" default="false"/>
    <arg name="mm" default="0"/>

    <!-- Node Settings -->
    <arg name="output" default="screen"/>
    <arg name="plugin" default="false"/>
    <arg name="proc" default="false"/>
    <arg name="view" default="false"/>

    <!-- Standalone -->
    <arg unless="$(arg plugin)" name="option"
        value="standalone bluefox2/StereoNodelet"/>

    <!-- Manager -->
    <arg if="$(arg plugin)"
        name="manager" default="stereo_nodelet"/>
    <arg if="$(arg plugin)"
        name="option"  value="load bluefox2/StereoNodelet $(arg manager)"/>
    <node if="$(arg plugin)"
        pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"
        output="$(arg output)">
    </node>

    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera)"
        args="$(arg option)" output="$(arg output)">
        <param name="left/camera_name" type="string" value="$(arg left_camera_name)"/>
        <param name="left/identifier" type="string" value="$(arg left)"/>
        <param name="left/calib_url" type="string" value="$(arg left_calib_url)"/>

        <param name="right/camera_name" type="string" value="$(arg right_camera_name)"/>
        <param name="right/identifier" type="string" value="$(arg right)"/>
        <param name="right/calib_url" type="string" value="$(arg right_calib_url)"/>

        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="aec" type="int" value="$(arg aec)"/>
        <param name="cbm" type="bool" value="$(arg cbm)"/>
        <param name="ctm" type="int" value="$(arg ctm)"/>
        <param name="dcfm" type="int" value="$(arg dcfm)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
        <param name="wbp" type="int" value="$(arg wbp)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="boost" type="bool" value="$(arg boost)"/>
        <param name="mm" type="int" value="$(arg mm)"/>
    </node>
</launch>
